pkgbase = airpods-tui-bin
	pkgdesc = Terminal UI for managing AirPods on Linux over Bluetooth AACP (prebuilt binary)
	pkgver = 0.3.3
	pkgrel = 1
	url = https://github.com/annoyedmilk/airpods-tui
	install = airpods-tui.install
	arch = x86_64
	license = GPL-3.0-or-later
	depends = bluez
	depends = dbus
	depends = libpulse
	optdepends = pipewire: audio routing
	optdepends = wireplumber: volume control via wpctl
	optdepends = swayosd: volume OSD overlay
	provides = airpods-tui
	conflicts = airpods-tui
	conflicts = airpods-tui-git
	source = airpods-tui-bin-0.3.3.tar.gz::https://github.com/annoyedmilk/airpods-tui/releases/download/v0.3.3/airpods-tui-0.3.3-x86_64.tar.gz
	sha256sums = 12c7b2e5661225f0bb8e481e04df81d9a5fe717b73873ca7bfe0adade016d1ce

pkgname = airpods-tui-bin
